* {
    margin: 0;
    padding: 0;
}


#footer {
    background: #e6e8e9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
    position: relative;
    margin-top: 50%;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 10px 0;
}

#footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 20px 0;
}

#footer .social-links {
    margin: 20px 10px;
}

#footer .social-links a {
    font-size: 16px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 6px 0;
    border-radius: 50%;
    text-align: center;
    width: 32px;
    height: 32px;
}

#footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
}